.container {
    display: flex;
    justify-content: space-between;
    background-color: #ebeeee;
    user-select: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 2px groove #ffffff;
}

.title:hover {
    cursor: pointer;
}

.title {
    flex: 1;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}
