.mainContainer {
    display: flex;
    flex-direction: column;

    background-color: #f5f5f5;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 640px) {
    .mainContainer {
        flex-direction: column;
    }

    .container {
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
}