.container {
    overflow-y: scroll;
}

.cordinates {
    color: #c5c5c5;
}

@media (max-width: 639px) {
    .container {
        height: 30vh;
    }
}

@media (min-width: 640px) {
    .container {
        flex: 1;
        min-width: 20rem;
    }
}

@media (min-width: 1360px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }
}

@media (max-width: 1359px) {
    .cordinates {
        display: none;
    }
}
